/* ----------START CONFIGURATION -------*/

html,
body{
    height: 100%;
    margin: 0;
    max-width: 100%;
}



/* -----------FOOTER -----------------*/

.wrapper{
    min-height: 100%;
    margin-bottom: -50px;
}
#footer,
.push{
    height: 50px;
}

/* NAVBAR */

#btn-nav{
    width:90px;
    float: right;
    margin-right:25px;
}

/*----SECTIONS----*/

.home{background-color:green;}
.about{background-color:red;}
.courses{background-color:blue;}
.contact{background-color:yellow;}

/*---Navbar links----*/
.links{
    color:#fff;
    padding:10px;
    text-decoration:none;
}
.links:hover{
    color:greenyellow;
}

/*------Section configuration-------*/
.sections{
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    text-decoration: none;

}

/*.active{ color:greenyellow}*/


/*---OTHERS-----*/

.no-pointer{
    cursor:default !important
}
/*--------PATIENT-----*/

.side-label{
    width: 80px;
}

/* BACKEND----PATIENT LIST(backend.html) */

#no_patient{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%,-50%);
    font-size: 22px;
}

/* -----------LOGIN--------------- */
#heart{
    position: absolute;
    top: 75%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%,-50%);
    font-size: 22px;
}

/*-------- COSTOME SWEETALERT--------- */
.swal-text{
    text-align: center;
}

/* Icon settings */
.swal-icon--success:before,
.swal-icon--success:after,
.swal-icon--success__hide-corners:{
        background: none;
}
.swal-icon--success__s{
    background-color: dodgerblue;
}
.swal-icon--success__line{
    background-color: cornflowerblue;
}

/* Button settings */
.swal-button{
    padding: 7px 18px;
    border-radius: 5px;
    background-color: #3f44c5;
    font-size: 12px;
    border: 1px solid #3f44c5;
}
.swal-button:focus{
    box-shadow: none;
}

.swal-button:not([disabled]):hover{
    background:transparent;
    color: black;
    border: 1px solid #3f44c5;
}